<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}
  <title>Cover Letter</title>
  {% endblock %}

	<!-- prepare static assets -->
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional JS from static files -->
  <!-- <script src="{% static 'js/scripts.js' %}"></script> -->

  <!-- Add additional CSS from static files -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>

<body>
  {% block header %}
  <!-- I solemnly swear that I am not a Robot, Replicant nor a Morlock. -->
  <header class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="main-title">William Travis Horton</h1>
			</div>
			<div class="col-sm-6"></div>
		</div>
  </header>
  {% endblock %}


  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  {% block footer %}
  <footer class="container-fluid text-center">
    <p>W.T.H - 2019</p>
  </footer>
  {% endblock %}

</body>
</html>
